{{!-- !Create new post card --}}
<section style="display: none;" id="create-card">
    <div class="card  mt-3">
        <h5 class="card-header">Create New Post</h5>
        <div class="card-body">
            <h5>Title</h5>
            <div class="input-group input-group-sm mb-3">
                <input type="text" id="title" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <h5>Content</h5>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" id="text"></textarea>
            </div>
            <a href="#" class="btn btn-secondary d-flex justify-content-center mt-3" type="submit"
                id="create-btn">Create</a>

            <a href="#" class="btn btn-secondary d-flex justify-content-center mt-3" id="cancel-btn">Cancel</a>
        </div>
    </div>
</section>
{{!-- !Edit post btn --}}
<div style="display: none;">
    <a href="#" class="btn btn-secondary d-flex justify-content-center mt-3">Edit post that has been already created
    </a>
</div>
{{!-- !Edit post card--}}
<section style="display: none;">
    <div class="card  mt-3">
        <h5 class="card-header">Edit Post</h5>
        <div class="card-body">
            <h5>Title</h5>
            <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <h5>Content</h5>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <a href="#" class="btn btn-secondary d-flex justify-content-center mt-3">Update Post</a>
            <a href="#" class="btn btn-secondary d-flex justify-content-center mt-3">Delete</a>
        </div>
    </div>
</section>
<div>
    {{!-- ?Create post --}}
    <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-secondary" id="new-post">+ New Post</button>
    </div>
</div>

<script src="/assets/js/dash.js"></script>