{{!-- !Card already posted --}}


{{#each facts as |fact|}}
<div class="card  mt-3">
    <h5 class="card-header">{{fact.title}}</h5>
    <div class="card-body">
        <p class="card-text">{{fact.text}}</p>

        <a href="#" class="btn btn-secondary d-flex justify-content-center">Leave a Comment</a>
    </div>
</div>
{{/each}}

<script src="/assets/js/main.js"></script>